@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: white;
}

nav{
    padding-top: 2%;
    padding-bottom: 2%;
}

.nav-item{
    padding-right: 1em;
    padding-left: 1em;
}

.dash-button{
   @apply rounded px-3 py-2 m-1 border-b-4 border-l-2 shadow-lg bg-blue-800 border-blue-900 text-white;
}

/* TODO change blue */
.search-bar{
    @apply block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500
}

.barbershop-input{
    @apply bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full    
}

.footer{ 
    
}